body {
max-width: 1000px;
margin: auto;
font-family: 'Roboto', sans-serif;
}

h1 {
	position: relative;
	font-family: 'Rancho', cursive;
}

nav {
	justify-content: flex-end;
	margin-top: -20px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.vertical {
	flex-direction: column;
}

.horizontal {
	flex-direction: row;
}

main {
	align-items: flex-start;
	justify-content: center;
}
main > div {
	border: 1px solid grey;
	border-radius: 5px;
}
main > div > img {
	border: 3px solid red;
	border-radius: 5px;
}

h2 {
	text-align: center;
}

img {
	object-position: top;
}
#desktop {
	object-fit: cover;
	width: 100%;
	height: 100px;
}
#mobile {
	object-fit: cover;
	width: 100%;
	height: 180px;
}

/*VISUAL ONLY*/
#act {
	color : black;
}

h1 {
color:#0065FC;
font-family: 'Rancho', cursive;
font-size: 2em;
margin: 0px;
}

header {
margin: 20px;
}

a {
color : #0065FC;
text-decoration: none;
margin: 10px 10px;
padding-top: 20px;
}

.nav-selected {
	border-top: 1px #0065FC solid;
}

main > div:nth-child(2) {
	order: 2;
	visibility: hidden;
}

/*RESPONSIVE*/

@media screen and (max-width: 500px) {
	#heb-act {
		flex-basis: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		order: 2;
	}
	#heb-act > a {
		flex-basis: 50%;
		margin-left: 0px;
		margin-right: 0px;
		border-top: 0px;
		padding-bottom: 10px;
	}

	#heb {
		border-bottom: 3px solid blue;
	}
	#act {
		 border-bottom: 3px solid lightgrey;
	}

	#heb-act > a {
		margin-bottom: 0px;
	}

	main > div:first-child {
		order: 2;
		visibility: hidden;
	}

	main > div:nth-child(2) {
		order: 1;
		visibility: visible;
	}
}